* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100vh;
}

header {
  background-color: #ffdf18;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-title {
  font-size: 22px;
  width: 150px;
  padding-top: 20px;
  padding-left: 10%;
}

.home-container {
  padding-left: 10%;
  background-color: #ffdf18;
  height: 100vh;
  padding-top: 15%;
  overflow: hidden;
}

.home-container h1 {
  font-size: 45px;
  margin-bottom: 8px;
}

.home-container p {
  margin-bottom: 25px;
  font-size: 18px;
}

.order-btn {
  width: 250px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px 0px #808080;
  cursor: pointer;
}

.order-btn-arrow {
  padding-left: 40%;
}

.home-image-container {
  position: fixed;
  right: 0;
  top: 0;
}

.home-container img {
  width: 500px;
  height: auto;
}

.order-page {
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  height: 100vh;
}

.food-container, .drinks-container {
  border: 1px solid blue;
  width: 90%;
  margin: 0 auto;
}

